<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Quiz catégorie {{categorie.name}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides #slides>
    <ion-slide *ngFor="let question of questions">

    
      <div id="groupe">
        <p id="question">{{question.question}}</p>
        <ion-list>
          <ion-radio-group (ionChange)="onChange($event, question.bonneReponse)">
            <ion-item color="dark">
              <ion-radio value="1"></ion-radio>
              <ion-label>{{question.reponse1}}</ion-label>
            </ion-item>
            <ion-item color="success">
              <ion-radio value="2"></ion-radio>
              <ion-label>{{question.reponse2}}</ion-label>
            </ion-item>
            <ion-item color="dark">
              <ion-radio value="3"></ion-radio>
              <ion-label>{{question.reponse3}}</ion-label>
            </ion-item>
            <ion-item color="success">
              <ion-radio value="4"></ion-radio>
              <ion-label>{{question.reponse4}}</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>



    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-footer>