<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Code de la route</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <div class="jumbotron">
    <h4 text-center> Bienvenue sur notre application mobile du Code de la route</h4><br>
    <p class="text-secondary" text-justify>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiquat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <ion-footer>
    <ion-toolbar>
      <p text-center>IPI © 2019</p>
    </ion-toolbar>
  </ion-footer>
