<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-style-6">
    <h1>Inscrivez nous</h1>
    <form>
      <input type="text" name="field1" placeholder="Votre Nom" />
      <input type="text" name="field1" placeholder="Votre Prénom" />
      <input type="email" name="field2" placeholder="Email" />
      <input type="date" autocomplete="off" name="field2" />
      <input type="submit" value="Envoyer" />
    </form>
  </div>
   
</ion-content>

