<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-style-6">
    <h1>Inscrivez vous</h1>
    <form >
      <input type="text" name="field1" placeholder="Pseudo"/>
      <input id="blabla" type="text" name="field1" placeholder="Age" maxlength="2" autocomplete="off"/>
      <input type="email" name="field2" placeholder="Email" />
      <input type="password" placeholder="Mot de passe" name="field2" />
      <input type="submit" value="Envoyer" />
    </form>
  </div>
   
</ion-content>

