<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Choisissez votre catégorie :</h1>
  <div id="section">
    <ion-button color="light">Littérature</ion-button>
  </div>
  <div id="section">
    <ion-button color="primary">Sciences</ion-button>
  </div>
  <div id="section">
    <ion-button color="light">Histoire/Géographie</ion-button>
  </div>
  <div id="section">
    <ion-button color="primary">Cinéma</ion-button>
  </div>
  <div id="section">
    <ion-button color="light">Musique</ion-button>
  </div>
  <div id="section">
    <ion-button color="primary">People</ion-button>
  </div>
</ion-content>
