<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Liste des catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Choisissez votre catégorie :</h1>
  <div id="section">
    <ion-button color="light">Littérature</ion-button>
    <ion-button color="tertiary">Sciences</ion-button>
  </div>
  <div id="section">
    <ion-button color="warning">Histoire/Géographie</ion-button>
    <ion-button color="medium">Cinéma</ion-button>
  </div>
  <div id="section">
    <ion-button color="success">Musique</ion-button>
    <ion-button color="dark">People</ion-button>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="dark">
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-footer>